{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
<style type="text/css">
#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

    background-color: white;

}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

/* For visibility. Delete me */
border: 1px solid green;
}

#PhotoOptions
{
    text-align: center;
    width: 200px;

}

#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

    background-color: hotpink;

}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;

    background-color: pink;

/* For visibility. Delete me */
border: 1px solid orange;
}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;

    background-color: whitesmoke;
}
body {
    background-color: lightpink;
}
</style>

<div id="ProfilePage">
    <div id="LeftCol">
        <img src="/static/images/sgk_logo1.png" alt="User Photo" height="200" width="200">
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
            <span>{{ cursor.execute("SELECT firstname FROM User WHERE username='" + session.username + "'") }} {{ cursor.execute("SELECT lastname FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
        <p>
            <strong>Email:</strong>
            <span>{{ cursor.execute("SELECT email FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
        <p>
            <strong>Age:</strong>
            <span>{{ cursor.execute("SELECT age FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
        <p>
            <strong>Gender:</strong>
            <span>{{ cursor.execute("SELECT gender FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
        <p>
            <strong>Community:</strong>
            <span>{{ cursor.execute("SELECT diagnosis FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
        <p>
            <strong>Group:</strong>
            <span>{{ cursor.execute("SELECT community FROM User WHERE username='" + session.username + "'") }}</span>
        </p>
    </div>

    <h1>About me...</h1>
    <p>{{ cursor.execute("SELECT bio FROM User WHERE username='" + session.username + "'") }}</p>
    <div style="clear:both"></div>
</div>
{%- endblock %}