{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
   <div class="container">
      <div class="jumbotron" style="background-color: lightpink">
        <h1>Login with your credentials</h1>
      </div>
    </div>
   <div class="col-md-12">
<form method="POST" action="/login">
    {{ form.email.label }} {{ form.email(size=20) }}<br>
    {{ form.password.label }} {{ form.password(size=20) }}<br>
    <input type="submit" value="Login">
</form>
   </div>
{%- endblock %}