{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}

{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Your Homepage</h1>
      </div>
       <table>
           <tr><td>First Name</td></tr>
           <tr><td>Last Name</td></tr>
           <tr><td>Email</td></tr>
           <tr><td>Cancer Community</td></tr>
           <tr><td>Age</td></tr>
           <tr><td>Gender</td></tr>
           <tr><td>Member Group</td></tr>
           <tr><td>Hobbies</td></tr>
       </table>
    </div>
{%- endblock %}